body {
    font-family: sans-serif;
    font-size: 15px;
    max-width: 1000px;
    min-width: 400px;
    background-color: black;
    color: white;
    background-image: url(img/profile.png);
    margin:0 auto;
}

#body{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    margin-top: 50px;
}

#index {
    text-align: center;
    background-color: rgba(220, 255, 246, 0.85);
    margin-top: 50px;
}

a {
    color: #ffb5ff;
}

p.category {
    text-transform: uppercase;
    font-weight:bold;
    color: #ffb5ff;
}

p.source {
    border: 2px dotted yellow;
    box-sizing: content-box;
    display: inline-block;
    padding: 5px;
}


code {
    color: #ff69ff;
}

code:hover {
    color: #ffb5ff;
}

empha {
    font-weight: bold;
    color: #a8deff;
}

img {
    width: 75%;
    height: 75%;
    margin: 0 auto;
    display:block;
}